body {
    background: #f8f8f8;
    height: 100%;
}
.chattop {
    height: 30px;
    background: rgb(245, 214, 173);
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.persons {
    padding:10px 1%;
    height: 70px;
}
.chatcontent {
    margin:2% auto;
    width: 85%;
    height: 65%;
    padding-top:1%;
    /*position: relative;*/
    overflow-y:scroll;
    overflow-x:hidden;
    border: 1px solid #ccc;
    text-shadow: 1px 1px 1px #ddd;
    border-radius: 5px;
}
.receivebody {
    text-align:left;
    display: flex;
    margin-top: 5px;
    height: auto;
}
.sendbody {
    text-align:right;
    margin-top: 5px;
    height: auto;
}
.msgreceive {
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    padding:0 10px ;
    height: auto;
    line-height: 40px;
    max-width: 250px;

}
.msgsend {
    display: inline-block;
    background-color: rgb(245, 214, 173);
    padding: 2px;
    border-radius: 10px;
    padding:0 10px ;
    height: auto;
    text-align: left !important;
    line-height: 40px;
    max-width: 250px;
}
.eidtmsg {
    height: 50px;
    margin-left: 2%;
    margin-top: 10px;
    padding: 5px !important;
    width: 78%;
}
.input-area{
    background: rgb(238, 237, 237);
    border-top:1px solid #ddd;
    position: absolute;
    width:100%;
    height:70px;
    bottom:0;
}
.input-area input{
    margin:1%;
    width:78%;
    border-radius:5px;
}
.send {
    width:15%;
    height:60%;
    margin-top:15px;
    margin-right:1%;
    float: right;
}
